{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/ws4redis.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/js/dashboard.js"></script>
    <script type="text/javascript">
        const WS4REDIS_HEARTBEAT = {{ WS4REDIS_HEARTBEAT }}
        const WEBSOCKET_URI = "{{ WEBSOCKET_URI }}"
        var ws4redis_message = null
        var ws4redis_friend = null
        var ws4redis_friendrequest_receive = null
        var ws4redis_friends_online = null
        $(document).ready(function(){
            _dash = new Dashboard('{{user.username}}', '{{user.profile.id}}')
            _dash.init()
        })
    </script>
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
          {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endblock %}
        {% block userlinks %}
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
            {% endif %}
                <a href="{% url 'userlogout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
{% endblock %}
{% block nav-global %}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="row row-main">
        <div class="column col-sm-3">
            <div class="header-bar card-friends">Friends</div>
            <div class="friends-list" id="friends-list"></div>
        </div>
        <div class="column col-sm-9">
            <div class="header-bar card-friends">Available Profiles</div>
            <div class="profile-list" id="profile-list"></div>
        </div>
    </div>
    <div class="chatbox">
        <div class="header-bar card-friends chat-header" id="profilename" onclick="Dashboard.close()">Friends</div>
        <div class="chatcontainer" id="chatcontainer"></div>
        <div class="chatfooter">
            <textarea placeholder="Enter messgage" style="width: 80%" id="messagearea"></textarea>
            <input type="hidden" name="thread" id="thread_input">
            <span class="btn btn-primary" style="width: 15%" onclick="_dash.sendMessage()">send</span>
        </div>
    </div>
    {% block footer %}{% endblock %}
{% endblock content %}
